__pycache__/
dist/
*.py[cod]
*$py.class
*.egg-info/
.venv/
.DS_Store
.idea/
.ruff_cache/
wandb/
eval_results/
comparison_results/
exp/
*.Identifier
/home/m_bobrin/dual-goal-representations/results/crl/antmaze-large-navigate-v0_crl_sd000
results/
**/checkpoints
**.npz
**/wandb/
**.png